$primary-purple: #884A9D;
$white: #FFF;

// Fonts

@font-face {
  font-family: 'Geosans-light';
  src: url('./../fonts/GeosansLight.ttf');
};

@font-face {
  font-family: 'Avenir-book';
  src: url('./../fonts/Avenir_0.ttf');
}

@font-face {
  font-family: 'Avenir-light';
  src: url('./../fonts/Avenir_6.ttf');
}

$font-family: 'Avenir-light', helvetica;