<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="row">
      <div class="medium-6 columns medium-centered main-header">
        <h1>michaelsharpe.io</h1>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns medium-centered logo">
        <img src="images/mbrand.svg" alt="Michael Sharpe" class="logo">
      </div>
    </div>  
    <div class="row">
      <div class="medium-8 columns medium-centered main-quote">
        <p> "Any sufficiently advanced technology is indistinguishable from magic"</p>
        <p>-Arthur C. Clarke</p>
      </div>
    </div>
    <div class="row">
      <div class="medium-8 columns medium-centered social-icons">
        <ul>
          <!-- hrefs for all icons are found in the svg file -->
          <li class="social-icon">
            <object type="image/svg+xml" width="80" height="80" data="images/social-icons.svg#twitter" id="test"></object>
          </li>
          <li class="social-icon"></a>
            <a href="http://www.linkedin.com/in/michaelpsharpe"><object type="image/svg+xml" width="80" height="80" data="images/social-icons.svg#linked-in"></object>
          </li>
          <li class="social-icon">
            <object type="image/svg+xml" width="80" height="80" data="images/social-icons.svg#github"></object>
          </li>
          <li class="social-icon">
            <object type="image/svg+xml" width="80" height="80" data="images/social-icons.svg#email"></object>
          </li>
        </ul>
      </div>
    </div>
    <script src="js/app.js"></script>
    <script>
      $('body').flowtype({
        minimum: 500,
        maximum: 1200,
        minFont: 20,
        maxFont: 40,
        fontRatio: 20
      });
    </script>
  </body>  
</html>