<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="row">
      <div class="medium-6 columns medium-centered main-header">
        <h1>michaelsharpe.io</h1>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns medium-centered logo">
        <img src="images/mbrand.svg" alt="Michael Sharpe" class="logo">
      </div>
    </div>  
    <div class="row">
      <div class="medium-8 columns medium-centered main-quote">
        <p> "Any sufficiently advanced technology is indistinguishable from magic"</p>
        <p>-Arthur C. Clarke</p>
      </div>
    </div>
  </body>  
</html>